# Ignorar módulos de Node.js
node_modules/

# Ignorar variables de entorno
.env

# Ignorar logs
*.log
logs/

# Ignorar directorios de compilación o caché
dist/
build/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar IDEs y editores
.vscode/
*.swp

# ignorar las Imagenes
uploadsProductsImages/*
uploadsProfileImages/*
